@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p class="h4">Current server status</p>
    <div class="container">
        <div id="status-table">
            <div class="row font-weight-bold">
                <div class="col-1">Server</div>
                <div class="col-1">Machine</div>
                <div class="col-1">Server</div>
                <div class="col-1">Online</div>
                <div class="col-1">Max</div>
                <div class="col-2">Action</div>
            </div>

            @for (int i = 0; i < Model.Count; i++)
            {
                var serverName = Model[i];
                var rowBg = i / 2 == 0 ? "bg-light" : "bg-white";
                <div id="row-1-@serverName" class="row align-items-center @rowBg">
                    <div id="display-name-@serverName" class="col-1" data-class="">@serverName</div>
                    <div id="display-machinestate-@serverName" class="col-1" data-class=""></div>
                    <div id="display-serverstate-@serverName" class="col-1" data-class=""></div>
                    <div id="display-online-@serverName" class="col-1" data-class=""></div>
                    <div id="display-max-@serverName" class="col-1" data-class=""></div>
                    <div class="col-2"><a id="btn-start-@serverName">Start</a></div>
                </div>
                <div id="row-2-@serverName" class="row @rowBg">
                    <div id="display-timestamp-@serverName" class="col-12" data-class=""></div>
                </div>
            }
        </div>
    </div>

    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/ts/mcstatus-subscribe.js"></script>
</div>